@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* ---------------------------------------------------
    GLOBAL
----------------------------------------------------- */
body {
    font-family: 'Montserrat', sans-serif;
}

.btn-raush {
    color: #fff;
    background-color: #FF5A5F;
    border-color: #FF5A5F;
}

.btn-raush:hover {
    color: #fff;
    background-color: #FF7B7F;
    border-color: #FF7B7F;
    box-shadow: none;
}

.btn-raush:focus {
    box-shadow: none;
}

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

#sidebar {
    width: 350px;
    position: fixed;
    top: 0;
    left: -350px;
    height: 100vh;
    z-index: 999;
    background: #FF5A5F;
    color: #fff;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    font-size: 50px;
    width: 50px;
    height: 50px;
    line-height: 35px;
    text-align: center;
    background: #FF5A5F;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#dismiss:hover {
    color: #FFCECF;
}

.overlay {
    display: none;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(86, 90, 92, 0.75);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #FF5A5F;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.form-control-custom {
    margin: 2rem 0;
}

/* ---------------------------------------------------
    HEADER
----------------------------------------------------- */

.header {
    margin: 15px 0px;
}

.page-heading {
    color: #FF5A5F;
    font-weight: 700;
}

/* ---------------------------------------------------
    MAIN CONTENT
----------------------------------------------------- */

.center-form {
    padding-top: 10px;
}

select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }

.urgency {
    text-align: center;
    margin-bottom: 2rem;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media(min-width: 992px) {
    .center-form {
        margin: 0 auto;
        max-width: 50%;
    }
}